.contatos {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 100px;

  img {
    position: relative;
    max-height: 100px;
    max-width: 100px;

    @mixin atMedium {
      max-height: 200px;
      max-width: 200px;
    }
  }

  a {
    text-decoration: none;
    color: $medium-gray;
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center;
  }
}

.telephone {
  color: $medium-gray;
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
}

.email {
  color: $medium-gray;
  font-weight: 800;
  font-size: 1.8rem;
  text-align: center;
}
