.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  a {
    text-decoration: none;
    display: inline-block;
    color: $light-gray;
    width: 100%;
    height: 100%;
    font-weight: $font_bold;
    font-size: 0.8em;

    &:hover {
      color: white;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    }
  }
}

.portfolio-item {
  background-color: $orange;
  border-radius: 8px;
  text-align: center;
  background-size: cover;
  background-position: center;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;

  &.small {
    grid-row: span 1;
    grid-column: span 1;
  }

  &.medium {
    grid-row: span 2;
    grid-column: span 2;
  }

  &.large {
    grid-row: span 3;
    grid-column: span 3;
  }

  &.tall {
    grid-row: span 3;
    grid-column: span 2;
  }

  &.wide {
    grid-row: span 2;
    grid-column: span 3;
  }
}

.port {
  &::before {
    content: "";
    display: block;
    background: $black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
    z-index: -1;
  }

  &:hover::before {
    opacity: 0.2;
  }

  &--1 {
    background-image: url("./assets/images/bootstrap-site.jpg");
  }

  &--2 {
    background-image: url("./assets/images/travel-site.jpg");
  }

  &--3 {
    background-image: url("");
  }

  &--4 {
    background-image: url("");
  }

  &--5 {
    background-image: url("");
  }

  &--6 {
    background-image: url("");
  }

  &--7 {
    background-image: url("");
  }

  &--8 {
    background-image: url("");
  }
}
